In [ ]:
        with data1 :
            st.metric(
                label = "과학_IT",
                value = f"{int(past_science)}건",
                delta= f"{int(past_science_p)}%"
            )
            
            st.metric(
                label = "경제",
                value = f"{int(past_economic)}건",
                delta= f"{int(past_economic_p)}%"
            )
            
            st.metric(
                label = "국제",
                value = f"{int(past_global)}건",
                delta= f"{int(past_global_p)}%"
            )
            
        with data2 :
            st.metric(
                label = "북한_외교",
                value = f"{int(past_north_korea)}건",
                delta= f"{int(past_north_korea_p)}%"
            )
            
            st.metric(
                label = "문화",
                value = f"{int(past_culture)}건",
                delta= f"{int(past_culture_p)}%"
            )
            
            st.metric(
                label = "사회",
                value = f"{int(past_social)}건",
                delta= f"{int(past_social_p)}%"
            )
            
        with data3 :
            st.metric(
                label = "사건_사고",
                value = f"{int(past_issue)}건",
                delta= f"{int(past_issue_p)}%"
            )
            
            st.metric(
                label = "정치",
                value = f"{int(past_politic)}건",
                delta= f"{int(past_politic_p)}%"
            )
            
            st.metric(
                label = "스포츠",
                value = f"{int(past_sports)}건",
                delta= f"{int(past_sports_p)}%"
            )
        
        with data4 :        
            st.metric(
                label = "지역",
                value = f"{int(past_local)}건",
                delta= f"{int(past_local_p)}%"
            )
            
            st.metric(
                label = "기타(날씨, 미분류)",
                value = f"{int(past_etc)}건",
                delta= f"{int(past_etc_p)}%"
            )

In [4]:
import pandas as pd
df = pd.read_csv("data_clean.csv",encoding = 'cp949')


past_week_df_plot = df.iloc[-1, 6 : 16].T.reset_index()
past_week_df_plot.columns = ["names","values"]

In [5]:
past_week_df_plot

   names  values
0  과학_IT   481.0
1     경제  1602.0
2     국제  1556.0
3  북한_외교   341.0
4     문화  1031.0
5     사회  1672.0
6  사건_사고  1321.0
7     정치  1599.0
8    스포츠   475.0
9     지역  1505.0

In [ ]:
        past_science_p = past_week_df2["과학_IT"]
        past_economic_p = past_week_df2["경제"]
        past_global_p = past_week_df2["국제"]
        #
        past_north_korea_p = past_week_df2["북한_외교"]
        past_culture_p = past_week_df2["문화"]
        past_social_p = past_week_df2["사회"]
        #
        past_issue_p = past_week_df2["사건_사고"]
        past_politic_p = past_week_df2["정치"]
        past_sports_p = past_week_df2["스포츠"]
        #
        past_local_p = past_week_df2["지역"]
        past_etc_p = past_week_df2["기타(날씨, 미분류)"]

In [ ]:
with data1 :
            st.metric(
                label = "과학_IT",
                value = f"{int(past_science)}건",
                delta= f"{int(past_science - past_science_p)}건"
            )
            
            st.metric(
                label = "경제",
                value = f"{int(past_economic)}건",
                delta= f"{int(past_economic - past_economic_p)}건"
            )
            
            st.metric(
                label = "국제",
                value = f"{int(past_global)}건",
                delta= f"{int(past_global - past_global_p)}건"
            )
            
        with data2 :
            st.metric(
                label = "북한_외교",
                value = f"{int(past_north_korea)}건",
                delta= f"{int(past_north_korea - past_north_korea_p)}건"
            )
            
            st.metric(
                label = "문화",
                value = f"{int(past_culture)}건",
                delta= f"{int(past_culture - past_culture_p)}건"
            )
            
            st.metric(
                label = "사회",
                value = f"{int(past_social)}건",
                delta= f"{int(past_social - past_social_p)}건"
            )
            
        with data3 :
            st.metric(
                label = "사건_사고",
                value = f"{int(past_issue)}건",
                delta= f"{int(past_issue - past_issue_p)}건"
            )
            
            st.metric(
                label = "정치",
                value = f"{int(past_politic)}건",
                delta= f"{int(past_politic - past_politic_p)}건"
            )
            
            st.metric(
                label = "스포츠",
                value = f"{int(past_sports)}건",
                delta= f"{int(past_sports - past_sports_p)}건"
            )
        
        with data4 :        
            st.metric(
                label = "지역",
                value = f"{int(past_local)}건",
                delta= f"{int(past_local - past_local_p)}건"
            )
            
            st.metric(
                label = "기타(날씨, 미분류)",
                value = f"{int(past_etc)}건",
                delta= f"{int(past_etc - past_etc_p)}건"
            )

In [8]:
# 모델 로드
import joblib

model_dt = joblib.load('model/dt_model.pkl')
model_ebm = joblib.load('model/ebm_model.pkl')
model_lgbm = joblib.load('model/lgbm_model.pkl')
model_lr = joblib.load('model/lr_model.pkl')
model_rf = joblib.load('model/rf_model.pkl')


model_list = [model_dt, model_ebm, model_lgbm, model_lr, model_rf]

In [9]:
model_list

[DecisionTreeRegressor(max_depth=6),
 ExplainableBoostingRegressor(feature_names=['Positive_Past', 'Negative_Past',
                                             'Non_Past', 'Science_IT', 'Ecnomic',
                                             'Global', 'North_Korea', 'Culture',
                                             'Social', 'Issue', 'Politic',
                                             'Sports', 'Local', 'Etc', 'SUM',
                                             'Science_IT_P', 'Ecnomic_P',
                                             'Global_P', 'North_Korea_P',
                                             'Culture_P', 'Social_P', 'Issue_P',
                                             'Politic_P', 'Sports_P', 'Local_P',
                                             'Etc_P', 'Science_IT_ID',
                                             'Ecnomi...
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous', ...],
                              interactions=8, max_leaves=2, outer_bags=10),
 LGBMRegressor(bagging_fraction=0.6, bagging_freq=6, device='gpu',
               feature_fraction=0.8, learning_rate=0.05, min_child_samples=16,
               min_split_gain=0.3, n_estimators=120, num_leaves=150,
               random_state=2021, reg_alpha=1e-06, reg_lambda=10),
 LinearRegression(normalize=True),
 RandomForestRegressor(criterion='mae', max_depth=10, max_features=1.0,
                       min_impurity_decrease=0, min_samples_leaf=6,
                       min_samples_split=7, n_estimators=190, n_jobs=-1,
                       random_state=2023)]

In [ ]:


with data1 :
            st.text_input(
                label = "과학_IT",
                placeholder = f"{int(past_science)}건",
            )
            
            st.text_input(
                label = "경제",
                placeholder = f"{int(past_economic)}건",
            )
            
            st.text_input(
                label = "국제",
                placeholder = f"{int(past_global)}건",
            )
            
        with data2 :
            st.text_input(
                label = "북한_외교",
                placeholder = f"{int(past_north_korea)}건",
            )
            
            st.text_input(
                label = "문화",
                placeholder = f"{int(past_culture)}건",
            )
            
            st.text_input(
                label = "사회",
                placeholder = f"{int(past_social)}건",
            )
            
        with data3 :
            st.text_input(
                label = "사건_사고",
                placeholder = f"{int(past_issue)}건",
            )
            
            st.text_input(
                label = "정치",
                placeholder = f"{int(past_politic)}건",
            )
            
            st.text_input(
                label = "스포츠",
                placeholder = f"{int(past_sports)}건",
            )
        
        with data4 :        
            st.text_input(
                label = "지역",
                placeholder = f"{int(past_local)}건",
            )
            
            st.text_input(
                label = "기타(날씨, 미분류)",
                placeholder = f"{int(past_etc)}건",
            )

In [ ]:
        ## 데이터 준비
        write_science = write_week_df["과학_IT"]
        write_economic = write_week_df["경제"]
        write_global = write_week_df["국제"]
        #
        write_north_korea = write_week_df["북한_외교"]
        write_culture = write_week_df["문화"]
        write_social = write_week_df["사회"]
        #
        write_issue = write_week_df["사건_사고"]
        write_politic = write_week_df["정치"]
        write_sports = write_week_df["스포츠"]
        #
        write_local = write_week_df["지역"]
        write_etc = write_week_df["기타(날씨, 미분류)"]

In [ ]:
write_df = st.text_input(label, 
              value="", 
              label_visibility="visible")

In [ ]:
        with data1 :
            write_science = st.number_input(
                label = "과학_IT",
                value = 0,
                placeholder = f"{int(past_science)}건",
            )
            
            write_economic = st.number_input(
                label = "경제",
                value = 0,
                placeholder = f"{int(past_economic)}건",
            )
            
            write_global = st.number_input(
                label = "국제",
                value = 0,
                placeholder = f"{int(past_global)}건",
            )
            
        with data2 :
            write_north_korea = st.number_input(
                label = "북한_외교",
                value = 0,
                placeholder = f"{int(past_north_korea)}건",
            )
            
            write_culture = st.number_input(
                label = "문화",
                value = 0,
                placeholder = f"{int(past_culture)}건",
            )
            
            write_social = st.number_input(
                label = "사회",
                value = 0,
                placeholder = f"{int(past_social)}건",
            )
            
        with data3 :
            write_issue = st.number_input(
                label = "사건_사고",
                value = 0,
                placeholder = f"{int(past_issue)}건",
            )
            
            write_politic = st.number_input(
                label = "정치",
                value = 0,
                placeholder = f"{int(past_politic)}건",
            )
            
            write_sports = st.number_input(
                label = "스포츠",
                value = 0,
                placeholder = f"{int(past_sports)}건",
            )
        
        with data4 :        
            write_local = st.number_input(
                label = "지역",
                value = 0,
                placeholder = f"{int(past_local)}건",
            )
            
            write_etc = st.number_input(
                label = "기타(날씨, 미분류)",
                value = 0,
                placeholder = f"{int(past_etc)}건",
            )

In [10]:
import pandas as pd

df = pd.read_csv("data_clean.csv",encoding = 'cp949')

In [20]:
write_df_past = pd.DataFrame(df.iloc[-1]).T.reset_index(drop = True)
write_df_new = pd.DataFrame(df.iloc[-1]).T.reset_index(drop = True).drop(["연도","월","주차", "긍정", "부정", "잘모름"], axis = 1)

In [27]:
write_df_new.values

TypeError: 'numpy.ndarray' object is not callable

In [21]:
write_df_past

,연도,월,주차,긍정,부정,잘모름,과학_IT,경제,국제,북한_외교,...,경제%,국제%,북한_외교%,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%"
0,2023.0,8.0,5.0,33.0,59.0,8.0,481.0,1602.0,1556.0,341.0,...,13.070082,12.694787,2.782084,8.41152,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899

In [22]:
write_df_new.loc[0,'긍정_과거'] = write_df_past.loc[0,'긍정']
write_df_new.loc[0,'부정_과거'] = write_df_past.loc[0,'부정']
write_df_new.loc[0,'잘모름_과거'] = write_df_past.loc[0,'잘모름']

In [23]:
write_df_new.loc[0,'과학_IT'] = write_science.loc[0,'과학_IT'] - write_df_pasr.loc[0,'과학_IT']
write_df_new.loc[0,'경제'] = write_df_new.loc[0,'경제'] - write_df_pasr.loc[0,'경제']
write_df_new.loc[0,'국제'] = write_df_new.loc[0,'국제'] - write_df_pasr.loc[0,'국제']
write_df_new.loc[0,'북한_외교'] = write_df_new.loc[0,'북한_외교'] - write_df_pasr.loc[0,'북한_외교']
write_df_new.loc[0,'문화'] = write_df_new.loc[0,'문화'] - write_df_pasr.loc[0,'문화']
write_df_new.loc[0,'사회'] = write_df_new.loc[0,'사회'] - write_df_pasr.loc[0,'사회']
write_df_new.loc[0,'사건_사고'] = write_df_new.loc[0,'사건_사고'] - write_df_pasr.loc[0,'사건_사고']
write_df_new.loc[0,'정치'] = write_df_new.loc[0,'정치'] - write_df_pasr.loc[0,'정치']
write_df_new.loc[0,'스포츠'] = write_df_new.loc[0,'스포츠'] - write_df_pasr.loc[0,'스포츠']
write_df_new.loc[0,'지역'] = write_df_new.loc[0,'지역'] - write_df_pasr.loc[0,'지역']
write_df_new.loc[0,'기타(날씨, 미분류)'] = write_df_new.loc[0,'기타(날씨, 미분류)'] - write_df_pasr.loc[0,'기타(날씨, 미분류)']

,과학_IT,경제,국제,북한_외교,문화,사회,사건_사고,정치,스포츠,지역,...,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%",긍정_과거,부정_과거,잘모름_과거
0,481.0,1602.0,1556.0,341.0,1031.0,1672.0,1321.0,1599.0,475.0,1505.0,...,8.41152,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899,33.0,59.0,8.0

In [24]:
write_df_new.loc[0,'과학_IT'] = write_science
write_df_new.loc[0,'경제'] = write_economic
write_df_new.loc[0,'국제'] = write_global
write_df_new.loc[0,'북한_외교'] = write_north_korea
write_df_new.loc[0,'문화'] = write_culture
write_df_new.loc[0,'사회'] = write_social
write_df_new.loc[0,'사건_사고'] = write_issue
write_df_new.loc[0,'정치'] = write_politic
write_df_new.loc[0,'스포츠'] = write_sports
write_df_new.loc[0,'지역'] = write_local
write_df_new.loc[0,'기타(날씨, 미분류)'] = write_etc

NameError: name 'write_science' is not defined

In [ ]:
sum_news = sum([write_science, write_economic, write_global, write_north_korea,
              write_culture, write_social, write_issue, write_politic,
              write_sports, write_local, write_etc])

write_df_new.loc[0,'과학_IT%'] = write_science/sum_news
write_df_new.loc[0,'경제%'] = write_economic/sum_news
write_df_new.loc[0,'국제%'] = write_global/sum_news
write_df_new.loc[0,'북한_외교%'] = write_north_korea/sum_news
write_df_new.loc[0,'문화%'] = write_culture/sum_news
write_df_new.loc[0,'사회%'] = write_social/sum_news
write_df_new.loc[0,'사건_사고%'] = write_issue/sum_news
write_df_new.loc[0,'정치%'] = write_politic/sum_news
write_df_new.loc[0,'스포츠%'] = write_sports/sum_news
write_df_new.loc[0,'지역%'] = write_local/sum_news
write_df_new.loc[0,'기타(날씨, 미분류)%'] = write_etc/sum_news

In [ ]:
write_df_new.loc[0,'과학_IT_증감량'] = write_df_new.loc[0,'과학_IT'] - write_df_past.loc[0,'과학_IT']
write_df_new.loc[0,'경제_증감량'] = write_df_new.loc[0,'경제'] - write_df_past.loc[0,'경제']
write_df_new.loc[0,'국제_증감량'] = write_df_new.loc[0,'국제'] - write_df_past.loc[0,'국제']
write_df_new.loc[0,'북한_외교_증감량'] = write_df_new.loc[0,'북한_외교'] - write_df_past.loc[0,'북한_외교']
write_df_new.loc[0,'문화_증감량'] = write_df_new.loc[0,'문화'] - write_df_past.loc[0,'문화']
write_df_new.loc[0,'사회_증감량'] = write_df_new.loc[0,'사회'] - write_df_past.loc[0,'사회']
write_df_new.loc[0,'사건_사고_증감량'] = write_df_new.loc[0,'사건_사고'] - write_df_past.loc[0,'사건_사고']
write_df_new.loc[0,'정치_증감량'] = write_df_new.loc[0,'정치'] - write_df_past.loc[0,'정치']
write_df_new.loc[0,'스포츠_증감량'] = write_df_new.loc[0,'스포츠'] - write_df_past.loc[0,'스포츠']
write_df_new.loc[0,'지역_증감량'] = write_df_new.loc[0,'지역'] - write_df_past.loc[0,'지역']
write_df_new.loc[0,'기타(날씨, 미분류)_증감량'] = write_df_new.loc[0,'기타(날씨, 미분류)'] - write_df_past.loc[0,'기타(날씨, 미분류)']

In [28]:
df

,연도,월,주차,긍정,부정,잘모름,과학_IT,경제,국제,북한_외교,...,경제%,국제%,북한_외교%,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%"
0,2012,1,1,26.0,63.0,11,334,1335,870,338,...,15.272852,9.953095,3.866834,13.980094,13.259352,8.763299,11.943714,6.475232,6.784121,5.880334
1,2012,1,2,24.0,65.0,11,372,1464,1099,286,...,15.743628,11.818475,3.075600,12.216367,13.237983,8.506291,12.345413,6.538337,6.645876,5.871599
2,2012,1,3,22.0,65.0,13,455,1500,1259,250,...,14.414761,12.098789,2.402460,12.118009,13.213531,8.591197,12.742648,6.409764,7.120892,6.515472
3,2012,1,4,24.0,64.0,12,319,1066,1007,231,...,14.318334,13.525856,3.102754,12.397582,13.472129,8.623237,10.100739,6.662189,6.675621,6.836803
4,2012,2,1,22.0,65.0,13,447,1628,1081,235,...,15.570008,10.338562,2.247513,13.274675,13.771997,8.645754,11.027161,7.067712,7.096404,6.685157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2023,8,1,33.0,56.0,11,418,1462,1152,312,...,12.703102,10.009558,2.710922,7.863411,18.463811,8.523764,10.278912,4.674602,13.293944,7.846034
607,2023,8,2,35.0,57.0,8,399,1244,1248,168,...,10.445004,10.478589,1.410579,7.867338,15.633921,12.216625,8.413098,3.912678,13.853904,12.418136
608,2023,8,3,0.0,0.0,100,362,1245,1345,425,...,11.617057,12.550154,3.965662,8.967062,14.817580,9.452272,10.711953,4.404218,13.473920,6.662312
609,2023,8,4,34.0,57.0,9,486,1497,1652,792,...,12.125385,13.380852,6.415033,7.297910,13.672445,11.501701,9.881743,4.122793,12.214482,5.451158
610,2023,8,5,33.0,59.0,8,481,1602,1556,341,...,13.070082,12.694787,2.782084,8.411520,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899

In [55]:
past_week_df_select = df[(df.연도 == 2012) & (df.월 == 1) & (df.주차 == 1)]

In [62]:
past_week_df_select['연도'].values[0]

2012

In [53]:
year_list = sorted(df.연도.unique(),reverse=True)

In [54]:
year_list

[2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012]