In [ ]:
        with data1 :
            st.metric(
                label = "과학_IT",
                value = f"{int(past_science)}건",
                delta= f"{int(past_science_p)}%"
            )
            
            st.metric(
                label = "경제",
                value = f"{int(past_economic)}건",
                delta= f"{int(past_economic_p)}%"
            )
            
            st.metric(
                label = "국제",
                value = f"{int(past_global)}건",
                delta= f"{int(past_global_p)}%"
            )
            
        with data2 :
            st.metric(
                label = "북한_외교",
                value = f"{int(past_north_korea)}건",
                delta= f"{int(past_north_korea_p)}%"
            )
            
            st.metric(
                label = "문화",
                value = f"{int(past_culture)}건",
                delta= f"{int(past_culture_p)}%"
            )
            
            st.metric(
                label = "사회",
                value = f"{int(past_social)}건",
                delta= f"{int(past_social_p)}%"
            )
            
        with data3 :
            st.metric(
                label = "사건_사고",
                value = f"{int(past_issue)}건",
                delta= f"{int(past_issue_p)}%"
            )
            
            st.metric(
                label = "정치",
                value = f"{int(past_politic)}건",
                delta= f"{int(past_politic_p)}%"
            )
            
            st.metric(
                label = "스포츠",
                value = f"{int(past_sports)}건",
                delta= f"{int(past_sports_p)}%"
            )
        
        with data4 :        
            st.metric(
                label = "지역",
                value = f"{int(past_local)}건",
                delta= f"{int(past_local_p)}%"
            )
            
            st.metric(
                label = "기타(날씨, 미분류)",
                value = f"{int(past_etc)}건",
                delta= f"{int(past_etc_p)}%"
            )

In [4]:
import pandas as pd
df = pd.read_csv("data_clean.csv",encoding = 'cp949')


past_week_df_plot = df.iloc[-1, 6 : 16].T.reset_index()
past_week_df_plot.columns = ["names","values"]

In [5]:
past_week_df_plot

   names  values
0  과학_IT   481.0
1     경제  1602.0
2     국제  1556.0
3  북한_외교   341.0
4     문화  1031.0
5     사회  1672.0
6  사건_사고  1321.0
7     정치  1599.0
8    스포츠   475.0
9     지역  1505.0

In [ ]:
        past_science_p = past_week_df2["과학_IT"]
        past_economic_p = past_week_df2["경제"]
        past_global_p = past_week_df2["국제"]
        #
        past_north_korea_p = past_week_df2["북한_외교"]
        past_culture_p = past_week_df2["문화"]
        past_social_p = past_week_df2["사회"]
        #
        past_issue_p = past_week_df2["사건_사고"]
        past_politic_p = past_week_df2["정치"]
        past_sports_p = past_week_df2["스포츠"]
        #
        past_local_p = past_week_df2["지역"]
        past_etc_p = past_week_df2["기타(날씨, 미분류)"]

In [ ]:
with data1 :
            st.metric(
                label = "과학_IT",
                value = f"{int(past_science)}건",
                delta= f"{int(past_science - past_science_p)}건"
            )
            
            st.metric(
                label = "경제",
                value = f"{int(past_economic)}건",
                delta= f"{int(past_economic - past_economic_p)}건"
            )
            
            st.metric(
                label = "국제",
                value = f"{int(past_global)}건",
                delta= f"{int(past_global - past_global_p)}건"
            )
            
        with data2 :
            st.metric(
                label = "북한_외교",
                value = f"{int(past_north_korea)}건",
                delta= f"{int(past_north_korea - past_north_korea_p)}건"
            )
            
            st.metric(
                label = "문화",
                value = f"{int(past_culture)}건",
                delta= f"{int(past_culture - past_culture_p)}건"
            )
            
            st.metric(
                label = "사회",
                value = f"{int(past_social)}건",
                delta= f"{int(past_social - past_social_p)}건"
            )
            
        with data3 :
            st.metric(
                label = "사건_사고",
                value = f"{int(past_issue)}건",
                delta= f"{int(past_issue - past_issue_p)}건"
            )
            
            st.metric(
                label = "정치",
                value = f"{int(past_politic)}건",
                delta= f"{int(past_politic - past_politic_p)}건"
            )
            
            st.metric(
                label = "스포츠",
                value = f"{int(past_sports)}건",
                delta= f"{int(past_sports - past_sports_p)}건"
            )
        
        with data4 :        
            st.metric(
                label = "지역",
                value = f"{int(past_local)}건",
                delta= f"{int(past_local - past_local_p)}건"
            )
            
            st.metric(
                label = "기타(날씨, 미분류)",
                value = f"{int(past_etc)}건",
                delta= f"{int(past_etc - past_etc_p)}건"
            )

In [41]:
# 모델 로드
import joblib

model_dt = joblib.load('model/dt_model.pkl')
model_ebm = joblib.load('model/ebm_model.pkl')
model_lgbm = joblib.load('model/lgbm_model.pkl')
model_lr = joblib.load('model/lr_model.pkl')
model_rf = joblib.load('model/rf_model.pkl')


model_list = [model_dt, model_ebm, model_lgbm, model_lr, model_rf]

In [42]:
model_list

[DecisionTreeRegressor(max_depth=6),
 ExplainableBoostingRegressor(feature_names=['Positive_Past', 'Negative_Past',
                                             'Non_Past', 'Science_IT', 'Ecnomic',
                                             'Global', 'North_Korea', 'Culture',
                                             'Social', 'Issue', 'Politic',
                                             'Sports', 'Local', 'Etc', 'SUM',
                                             'Science_IT_P', 'Ecnomic_P',
                                             'Global_P', 'North_Korea_P',
                                             'Culture_P', 'Social_P', 'Issue_P',
                                             'Politic_P', 'Sports_P', 'Local_P',
                                             'Etc_P', 'Science_IT_ID',
                                             'Ecnomi...
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous',
                                             'continuous', 'continuous', ...],
                              interactions=8, max_leaves=2, outer_bags=10),
 LGBMRegressor(bagging_fraction=0.6, bagging_freq=6, device='gpu',
               feature_fraction=0.8, learning_rate=0.05, min_child_samples=16,
               min_split_gain=0.3, n_estimators=120, num_leaves=150,
               random_state=2021, reg_alpha=1e-06, reg_lambda=10),
 LinearRegression(normalize=True),
 RandomForestRegressor(criterion='mae', max_depth=10, max_features=1.0,
                       min_impurity_decrease=0, min_samples_leaf=6,
                       min_samples_split=7, n_estimators=190, n_jobs=-1,
                       random_state=2023)]

In [4]:
model_list[3]

LinearRegression()

In [ ]:
with data1 :
            write_science = st.number_input(
                label = "과학_IT(%)",
                value = 0,
                placeholder = f"{int(past_science)}(%)",
            )
            
            write_economic = st.number_input(
                label = "경제(%)",
                value = 0,
                placeholder = f"{int(past_economic)}(%)",
            )
            
            write_global = st.number_input(
                label = "국제(%)",
                value = 0,
                placeholder = f"{int(past_global)}(%)",
            )
            
        with data2 :
            write_north_korea = st.number_input(
                label = "북한_외교(%)",
                value = 0,
                placeholder = f"{int(past_north_korea)}(%)",
            )
            
            write_culture = st.number_input(
                label = "문화(%)",
                value = 0,
                placeholder = f"{int(past_culture)}(%)",
            )
            
            write_social = st.number_input(
                label = "사회(%)",
                value = 0,
                placeholder = f"{int(past_social)}(%)",
            )
            
        with data3 :
            write_issue = st.number_input(
                label = "사건_사고(%)",
                value = 0,
                placeholder = f"{int(past_issue)}(%)",
            )
            
            write_politic = st.number_input(
                label = "정치(%)",
                value = 0,
                placeholder = f"{int(past_politic)}(%)",
            )
            
            write_sports = st.number_input(
                label = "스포츠(%)",
                value = 0,
                placeholder = f"{int(past_sports)}(%)",
            )
        
        with data4 :        
            write_local = st.number_input(
                label = "지역(%)",
                value = 0,
                placeholder = f"{int(past_local)}(%)",
            )
            
            write_etc = st.number_input(
                label = "기타(날씨, 미분류)(%)",
                value = 0,
                placeholder = f"{int(past_etc)}(%)",
            )

In [ ]:
        ## 데이터 준비
        write_science = write_week_df["과학_IT"]
        write_economic = write_week_df["경제"]
        write_global = write_week_df["국제"]
        #
        write_north_korea = write_week_df["북한_외교"]
        write_culture = write_week_df["문화"]
        write_social = write_week_df["사회"]
        #
        write_issue = write_week_df["사건_사고"]
        write_politic = write_week_df["정치"]
        write_sports = write_week_df["스포츠"]
        #
        write_local = write_week_df["지역"]
        write_etc = write_week_df["기타(날씨, 미분류)"]

In [ ]:
write_df = st.text_input(label, 
              value="", 
              label_visibility="visible")

In [ ]:
        with data1 :
            write_science = st.number_input(
                label = "과학_IT",
                value = 0,
                placeholder = f"{int(past_science)}건",
            )
            
            write_economic = st.number_input(
                label = "경제",
                value = 0,
                placeholder = f"{int(past_economic)}건",
            )
            
            write_global = st.number_input(
                label = "국제",
                value = 0,
                placeholder = f"{int(past_global)}건",
            )
            
        with data2 :
            write_north_korea = st.number_input(
                label = "북한_외교",
                value = 0,
                placeholder = f"{int(past_north_korea)}건",
            )
            
            write_culture = st.number_input(
                label = "문화",
                value = 0,
                placeholder = f"{int(past_culture)}건",
            )
            
            write_social = st.number_input(
                label = "사회",
                value = 0,
                placeholder = f"{int(past_social)}건",
            )
            
        with data3 :
            write_issue = st.number_input(
                label = "사건_사고",
                value = 0,
                placeholder = f"{int(past_issue)}건",
            )
            
            write_politic = st.number_input(
                label = "정치",
                value = 0,
                placeholder = f"{int(past_politic)}건",
            )
            
            write_sports = st.number_input(
                label = "스포츠",
                value = 0,
                placeholder = f"{int(past_sports)}건",
            )
        
        with data4 :        
            write_local = st.number_input(
                label = "지역",
                value = 0,
                placeholder = f"{int(past_local)}건",
            )
            
            write_etc = st.number_input(
                label = "기타(날씨, 미분류)",
                value = 0,
                placeholder = f"{int(past_etc)}건",
            )

In [10]:
import pandas as pd

df = pd.read_csv("data_clean.csv",encoding = 'cp949')

In [20]:
write_df_past = pd.DataFrame(df.iloc[-1]).T.reset_index(drop = True)
write_df_new = pd.DataFrame(df.iloc[-1]).T.reset_index(drop = True).drop(["연도","월","주차", "긍정", "부정", "잘모름"], axis = 1)

In [27]:
write_df_new.values

TypeError: 'numpy.ndarray' object is not callable

In [21]:
write_df_past

,연도,월,주차,긍정,부정,잘모름,과학_IT,경제,국제,북한_외교,...,경제%,국제%,북한_외교%,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%"
0,2023.0,8.0,5.0,33.0,59.0,8.0,481.0,1602.0,1556.0,341.0,...,13.070082,12.694787,2.782084,8.41152,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899

In [22]:
write_df_new.loc[0,'긍정_과거'] = write_df_past.loc[0,'긍정']
write_df_new.loc[0,'부정_과거'] = write_df_past.loc[0,'부정']
write_df_new.loc[0,'잘모름_과거'] = write_df_past.loc[0,'잘모름']

In [23]:
write_df_new.loc[0,'과학_IT'] = write_science.loc[0,'과학_IT'] - write_df_pasr.loc[0,'과학_IT']
write_df_new.loc[0,'경제'] = write_df_new.loc[0,'경제'] - write_df_pasr.loc[0,'경제']
write_df_new.loc[0,'국제'] = write_df_new.loc[0,'국제'] - write_df_pasr.loc[0,'국제']
write_df_new.loc[0,'북한_외교'] = write_df_new.loc[0,'북한_외교'] - write_df_pasr.loc[0,'북한_외교']
write_df_new.loc[0,'문화'] = write_df_new.loc[0,'문화'] - write_df_pasr.loc[0,'문화']
write_df_new.loc[0,'사회'] = write_df_new.loc[0,'사회'] - write_df_pasr.loc[0,'사회']
write_df_new.loc[0,'사건_사고'] = write_df_new.loc[0,'사건_사고'] - write_df_pasr.loc[0,'사건_사고']
write_df_new.loc[0,'정치'] = write_df_new.loc[0,'정치'] - write_df_pasr.loc[0,'정치']
write_df_new.loc[0,'스포츠'] = write_df_new.loc[0,'스포츠'] - write_df_pasr.loc[0,'스포츠']
write_df_new.loc[0,'지역'] = write_df_new.loc[0,'지역'] - write_df_pasr.loc[0,'지역']
write_df_new.loc[0,'기타(날씨, 미분류)'] = write_df_new.loc[0,'기타(날씨, 미분류)'] - write_df_pasr.loc[0,'기타(날씨, 미분류)']

,과학_IT,경제,국제,북한_외교,문화,사회,사건_사고,정치,스포츠,지역,...,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%",긍정_과거,부정_과거,잘모름_과거
0,481.0,1602.0,1556.0,341.0,1031.0,1672.0,1321.0,1599.0,475.0,1505.0,...,8.41152,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899,33.0,59.0,8.0

In [24]:
write_df_new.loc[0,'과학_IT'] = write_science
write_df_new.loc[0,'경제'] = write_economic
write_df_new.loc[0,'국제'] = write_global
write_df_new.loc[0,'북한_외교'] = write_north_korea
write_df_new.loc[0,'문화'] = write_culture
write_df_new.loc[0,'사회'] = write_social
write_df_new.loc[0,'사건_사고'] = write_issue
write_df_new.loc[0,'정치'] = write_politic
write_df_new.loc[0,'스포츠'] = write_sports
write_df_new.loc[0,'지역'] = write_local
write_df_new.loc[0,'기타(날씨, 미분류)'] = write_etc

NameError: name 'write_science' is not defined

In [ ]:
sum_news = sum([write_science, write_economic, write_global, write_north_korea,
              write_culture, write_social, write_issue, write_politic,
              write_sports, write_local, write_etc])

write_df_new.loc[0,'과학_IT%'] = write_science/sum_news
write_df_new.loc[0,'경제%'] = write_economic/sum_news
write_df_new.loc[0,'국제%'] = write_global/sum_news
write_df_new.loc[0,'북한_외교%'] = write_north_korea/sum_news
write_df_new.loc[0,'문화%'] = write_culture/sum_news
write_df_new.loc[0,'사회%'] = write_social/sum_news
write_df_new.loc[0,'사건_사고%'] = write_issue/sum_news
write_df_new.loc[0,'정치%'] = write_politic/sum_news
write_df_new.loc[0,'스포츠%'] = write_sports/sum_news
write_df_new.loc[0,'지역%'] = write_local/sum_news
write_df_new.loc[0,'기타(날씨, 미분류)%'] = write_etc/sum_news

In [ ]:
write_df_new.loc[0,'과학_IT_증감량'] = write_df_new.loc[0,'과학_IT'] - write_df_past.loc[0,'과학_IT']
write_df_new.loc[0,'경제_증감량'] = write_df_new.loc[0,'경제'] - write_df_past.loc[0,'경제']
write_df_new.loc[0,'국제_증감량'] = write_df_new.loc[0,'국제'] - write_df_past.loc[0,'국제']
write_df_new.loc[0,'북한_외교_증감량'] = write_df_new.loc[0,'북한_외교'] - write_df_past.loc[0,'북한_외교']
write_df_new.loc[0,'문화_증감량'] = write_df_new.loc[0,'문화'] - write_df_past.loc[0,'문화']
write_df_new.loc[0,'사회_증감량'] = write_df_new.loc[0,'사회'] - write_df_past.loc[0,'사회']
write_df_new.loc[0,'사건_사고_증감량'] = write_df_new.loc[0,'사건_사고'] - write_df_past.loc[0,'사건_사고']
write_df_new.loc[0,'정치_증감량'] = write_df_new.loc[0,'정치'] - write_df_past.loc[0,'정치']
write_df_new.loc[0,'스포츠_증감량'] = write_df_new.loc[0,'스포츠'] - write_df_past.loc[0,'스포츠']
write_df_new.loc[0,'지역_증감량'] = write_df_new.loc[0,'지역'] - write_df_past.loc[0,'지역']
write_df_new.loc[0,'기타(날씨, 미분류)_증감량'] = write_df_new.loc[0,'기타(날씨, 미분류)'] - write_df_past.loc[0,'기타(날씨, 미분류)']

In [28]:
df

,연도,월,주차,긍정,부정,잘모름,과학_IT,경제,국제,북한_외교,...,경제%,국제%,북한_외교%,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%"
0,2012,1,1,26.0,63.0,11,334,1335,870,338,...,15.272852,9.953095,3.866834,13.980094,13.259352,8.763299,11.943714,6.475232,6.784121,5.880334
1,2012,1,2,24.0,65.0,11,372,1464,1099,286,...,15.743628,11.818475,3.075600,12.216367,13.237983,8.506291,12.345413,6.538337,6.645876,5.871599
2,2012,1,3,22.0,65.0,13,455,1500,1259,250,...,14.414761,12.098789,2.402460,12.118009,13.213531,8.591197,12.742648,6.409764,7.120892,6.515472
3,2012,1,4,24.0,64.0,12,319,1066,1007,231,...,14.318334,13.525856,3.102754,12.397582,13.472129,8.623237,10.100739,6.662189,6.675621,6.836803
4,2012,2,1,22.0,65.0,13,447,1628,1081,235,...,15.570008,10.338562,2.247513,13.274675,13.771997,8.645754,11.027161,7.067712,7.096404,6.685157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2023,8,1,33.0,56.0,11,418,1462,1152,312,...,12.703102,10.009558,2.710922,7.863411,18.463811,8.523764,10.278912,4.674602,13.293944,7.846034
607,2023,8,2,35.0,57.0,8,399,1244,1248,168,...,10.445004,10.478589,1.410579,7.867338,15.633921,12.216625,8.413098,3.912678,13.853904,12.418136
608,2023,8,3,0.0,0.0,100,362,1245,1345,425,...,11.617057,12.550154,3.965662,8.967062,14.817580,9.452272,10.711953,4.404218,13.473920,6.662312
609,2023,8,4,34.0,57.0,9,486,1497,1652,792,...,12.125385,13.380852,6.415033,7.297910,13.672445,11.501701,9.881743,4.122793,12.214482,5.451158
610,2023,8,5,33.0,59.0,8,481,1602,1556,341,...,13.070082,12.694787,2.782084,8.411520,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899

In [55]:
past_week_df_select = df[(df.연도 == 2012) & (df.월 == 1) & (df.주차 == 1)]

In [62]:
past_week_df_select['연도'].values[0]

2012

In [53]:
year_list = sorted(df.연도.unique(),reverse=True)

In [54]:
year_list

[2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012]

In [64]:
temp = pd.read_csv("모델링_결과_f3.csv",encoding = 'cp949')

In [65]:
temp

,연도,월,주차,Target,y_pred_LinearRegression,y_pred_SVMRegressor,y_pred_RandomForestRegressor,y_pred_LGBMRegressor,y_pred_ExplainableBoostingRegressor
0,2023,1,1,37.0,38.118793,43.950719,38.600000,38.578117,40.730480
1,2023,1,2,35.0,34.478017,42.558476,38.534211,37.292774,42.010883
2,2023,1,3,36.0,33.889417,41.993523,34.463158,35.303188,35.070249
3,2023,2,1,34.0,34.895287,41.908822,37.836842,35.942074,40.089189
4,2023,2,2,32.0,33.912866,41.165378,33.736842,35.510323,38.231165
5,2023,2,3,35.0,31.229843,42.105810,31.223684,31.671622,30.454792
6,2023,2,4,37.0,35.751628,42.954659,34.773684,37.410458,34.871254
7,2023,3,1,36.0,36.993921,42.283240,37.873684,35.994505,37.795867
8,2023,3,2,34.0,35.930280,41.841211,37.742105,36.592409,33.938322
9,2023,3,3,33.0,35.171517,41.905561,33.231579,35.027908,33.839291
10,2023,3,4,34.0,33.920123,42.506377,31.676316,34.016709,33.506407
11,2023,3,5,30.0,33.544171,41.759802,33.252632,34.572496,32.926724
12,2023,4,1,31.0,29.266394,39.779978,31.207895,30.933681,32.947079
13,2023,4,2,27.0,30.705045,41.498379,31.378947,31.225745,33.254296
14,2023,4,3,31.0,27.915800,42.009038,25.965789,27.013106,27.280728
15,2023,4,4,30.0,32.695239,43.019224,31.494737,33.253207,34.953247
16,2023,5,1,33.0,29.939481,42.979342,30.621053,30.034280,31.367724
17,2023,5,2,35.0,34.067182,42.468388,31.657895,34.294978,32.851529
18,2023,5,3,37.0,34.290947,41.360452,34.607895,34.915193,33.568407
19,2023,5,4,36.0,38.295382,41.869637,38.184211,37.087925,37.472350
20,2023,6,1,35.0,37.248266,43.455203,38.563158,38.805621,38.020709
21,2023,6,3,35.0,34.827816,41.673871,34.607895,36.151859,35.513346
22,2023,6,4,36.0,34.352858,41.234828,34.710526,35.746470,35.169495
23,2023,6,5,36.0,35.883710,40.784888,37.942105,36.296610,36.755729
24,2023,7,1,38.0,35.459871,40.818693,37.857895,35.650994,38.112780
25,2023,7,2,32.0,38.068574,41.705596,38.639474,38.370752,35.965480
26,2023,7,3,33.0,33.118246,38.684083,31.631579,31.434078,33.814937
27,2023,7,4,35.0,32.012766,40.369008,31.710526,32.546949,31.558950
28,2023,8,1,33.0,35.041853,41.311983,34.731579,36.550442,33.557632
29,2023,8,2,35.0,30.692996,40.159765,31.481579,32.441398,27.960422
30,2023,8,4,34.0,36.330398,42.500288,35.034211,37.425605,37.570148
31,2023,8,5,33.0,33.720881,41.416433,33.505263,34.882892,35.029162

In [74]:
from sklearn.metrics import r2_score
r2 = r2_score(temp.Target.values, temp.y_pred_LinearRegression.values)
r2

-0.061873340510353314

In [68]:
from sklearn.metrics import r2_score
r2 = r2_score(temp.Target, temp.y_pred_SVMRegressor)
r2

-10.648493050520228

In [69]:
from sklearn.metrics import r2_score
r2 = r2_score(temp.Target, temp.y_pred_RandomForestRegressor)
r2

-0.39458882530212147

In [70]:
from sklearn.metrics import r2_score
r2 = r2_score(temp.Target, temp.y_pred_LGBMRegressor)
r2

-0.27167461469615484

In [71]:
from sklearn.metrics import r2_score
r2 = r2_score(temp.Target, temp.y_pred_ExplainableBoostingRegressor)
r2

-1.1202907752294147

In [ ]:
            write_df_new.loc[0,'과학_IT'] = write_science* sum_news / 100
            write_df_new.loc[0,'경제'] = write_economic* sum_news / 100
            write_df_new.loc[0,'국제'] = write_global* sum_news / 100
            write_df_new.loc[0,'북한_외교'] = write_north_korea* sum_news / 100
            write_df_new.loc[0,'문화'] = write_culture* sum_news / 100
            write_df_new.loc[0,'사회'] = write_social* sum_news / 100
            write_df_new.loc[0,'사건_사고'] = write_issue* sum_news / 100
            write_df_new.loc[0,'정치'] = write_politic* sum_news / 100
            write_df_new.loc[0,'스포츠'] = write_sports* sum_news / 100
            write_df_new.loc[0,'지역'] = write_local* sum_news / 100
            write_df_new.loc[0,'기타(날씨, 미분류)'] = write_etc* sum_news / 100

In [ ]:
total_news = 10000
        
        with data1 :
            write_science = st.number_input(
                label = "과학_IT(%)",
                value = 0,
                placeholder = f"{int(past_science)/total_news}(%)",
            )
            
            write_economic = st.number_input(
                label = "경제(%)",
                value = 0,
                placeholder = f"{int(past_economic)/total_news}(%)",
            )
            
            write_global = st.number_input(
                label = "국제(%)",
                value = 0,
                placeholder = f"{int(past_global)/total_news}(%)",
            )
            
        with data2 :
            write_north_korea = st.number_input(
                label = "북한_외교(%)",
                value = 0,
                placeholder = f"{int(past_north_korea)/total_news}(%)",
            )
            
            write_culture = st.number_input(
                label = "문화(%)",
                value = 0,
                placeholder = f"{int(past_culture)/total_news}(%)",
            )
            
            write_social = st.number_input(
                label = "사회(%)",
                value = 0,
                placeholder = f"{int(past_social)/total_news}(%)",
            )
            
        with data3 :
            write_issue = st.number_input(
                label = "사건_사고(%)",
                value = 0,
                placeholder = f"{int(past_issue)/total_news}(%)",
            )
            
            write_politic = st.number_input(
                label = "정치(%)",
                value = 0,
                placeholder = f"{int(past_politic)/total_news}(%)",
            )
            
            write_sports = st.number_input(
                label = "스포츠(%)",
                value = 0,
                placeholder = f"{int(past_sports)/total_news}(%)",
            )
        
        with data4 :        
            write_local = st.number_input(
                label = "지역(%)",
                value = 0,
                placeholder = f"{int(past_local)/total_news}(%)",
            )
            
            write_etc = st.number_input(
                label = "기타(날씨, 미분류)(%)",
                value = 0,
                placeholder = f"{int(past_etc)/total_news}(%)",
            )
            
        ## 버튼 클릭
        if st.button('**!지지율 예측 시작!**'):
            st.divider()
            st.subheader(f"3. 다음주 지지율 예측", divider='rainbow')
            st.text("다음 지지율을 예측합니다.")
            
            ## ========================= 학습 데이터 구축========================= ##
            write_df_past = pd.DataFrame(df.iloc[-1]).T.reset_index(drop = True)
            write_df_new = pd.DataFrame(df.iloc[-1]).T.reset_index(drop = True).drop(["연도","월","주차", "긍정", "부정", "잘모름"], axis = 1)
            
            write_df_new.loc[0,'긍정_과거'] = write_df_past.loc[0,'긍정']
            write_df_new.loc[0,'부정_과거'] = write_df_past.loc[0,'부정']
            write_df_new.loc[0,'잘모름_과거'] = write_df_past.loc[0,'잘모름']
            
            write_df_new.loc[0,'과학_IT'] = write_science * total_news / 100
            write_df_new.loc[0,'경제'] = write_economic * total_news / 100
            write_df_new.loc[0,'국제'] = write_global * total_news / 100
            write_df_new.loc[0,'북한_외교'] = write_north_korea * total_news / 100
            write_df_new.loc[0,'문화'] = write_culture * total_news / 100
            write_df_new.loc[0,'사회'] = write_social * total_news / 100
            write_df_new.loc[0,'사건_사고'] = write_issue * total_news / 100
            write_df_new.loc[0,'정치'] = write_politic * total_news / 100
            write_df_new.loc[0,'스포츠'] = write_sports * total_news / 100
            write_df_new.loc[0,'지역'] = write_local * total_news / 100
            write_df_new.loc[0,'기타(날씨, 미분류)'] = write_etc * total_news / 100

            write_df_new.loc[0,'과학_IT%'] = write_science / 100
            write_df_new.loc[0,'경제%'] = write_economic / 100
            write_df_new.loc[0,'국제%'] = write_global / 100
            write_df_new.loc[0,'북한_외교%'] = write_north_korea / 100
            write_df_new.loc[0,'문화%'] = write_culture / 100
            write_df_new.loc[0,'사회%'] = write_social / 100
            write_df_new.loc[0,'사건_사고%'] = write_issue / 100
            write_df_new.loc[0,'정치%'] = write_politic / 100
            write_df_new.loc[0,'스포츠%'] = write_sports / 100
            write_df_new.loc[0,'지역%'] = write_local / 100
            write_df_new.loc[0,'기타날씨, 미분류)%'] = write_etc / 100

In [16]:
import pandas as pd
temp = pd.read_csv("data_clean.csv",encoding = 'cp949')

In [18]:
temp

,연도,월,주차,긍정,부정,잘모름,과학_IT,경제,국제,북한_외교,...,경제%,국제%,북한_외교%,문화%,사회%,사건_사고%,정치%,스포츠%,지역%,"기타(날씨, 미분류)%"
0,2012,1,1,26.0,63.0,11,334,1335,870,338,...,15.272852,9.953095,3.866834,13.980094,13.259352,8.763299,11.943714,6.475232,6.784121,5.880334
1,2012,1,2,24.0,65.0,11,372,1464,1099,286,...,15.743628,11.818475,3.075600,12.216367,13.237983,8.506291,12.345413,6.538337,6.645876,5.871599
2,2012,1,3,22.0,65.0,13,455,1500,1259,250,...,14.414761,12.098789,2.402460,12.118009,13.213531,8.591197,12.742648,6.409764,7.120892,6.515472
3,2012,1,4,24.0,64.0,12,319,1066,1007,231,...,14.318334,13.525856,3.102754,12.397582,13.472129,8.623237,10.100739,6.662189,6.675621,6.836803
4,2012,2,1,22.0,65.0,13,447,1628,1081,235,...,15.570008,10.338562,2.247513,13.274675,13.771997,8.645754,11.027161,7.067712,7.096404,6.685157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2023,8,1,33.0,56.0,11,418,1462,1152,312,...,12.703102,10.009558,2.710922,7.863411,18.463811,8.523764,10.278912,4.674602,13.293944,7.846034
607,2023,8,2,35.0,57.0,8,399,1244,1248,168,...,10.445004,10.478589,1.410579,7.867338,15.633921,12.216625,8.413098,3.912678,13.853904,12.418136
608,2023,8,3,0.0,0.0,100,362,1245,1345,425,...,11.617057,12.550154,3.965662,8.967062,14.817580,9.452272,10.711953,4.404218,13.473920,6.662312
609,2023,8,4,34.0,57.0,9,486,1497,1652,792,...,12.125385,13.380852,6.415033,7.297910,13.672445,11.501701,9.881743,4.122793,12.214482,5.451158
610,2023,8,5,33.0,59.0,8,481,1602,1556,341,...,13.070082,12.694787,2.782084,8.411520,13.641185,10.777515,13.045607,3.875337,12.278698,5.498899

In [30]:
rr = pd.DataFrame([0,0,200,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]).T
rr

,0,1,2,3,4,5,6,7,8,9,...,27,28,29,30,31,32,33,34,35,36
0,0,0,200,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
temp = pd.read_csv("temp.csv",encoding = 'cp949')

In [52]:
temp.T

                            0
긍정_과거            3.300000e+01
부정_과거            5.900000e+01
잘모름_과거           8.000000e+00
과학_IT            4.810000e+02
경제               1.602000e+03
국제               1.556000e+03
북한_외교            3.410000e+02
문화               1.031000e+03
사회               1.672000e+03
사건_사고            1.321000e+03
정치               1.599000e+03
스포츠              4.750000e+02
지역               1.505000e+03
기타(날씨, 미분류)      6.740000e+02
주간합              1.000000e+04
과학_IT%           4.810000e-02
경제%              1.602000e-01
국제%              1.556000e-01
북한_외교%           3.410000e-02
문화%              1.031000e-01
사회%              1.672000e-01
사건_사고%           1.321000e-01
정치%              1.599000e-01
스포츠%             4.750000e-02
지역%              1.505000e-01
기타(날씨, 미분류)%     6.740000e-02
과학_IT_증감량       -5.684342e-14
경제_증감량           0.000000e+00
국제_증감량           0.000000e+00
북한_외교_증감량        0.000000e+00
문화_증감량           0.000000e+00
사회_증감량           0.000000e+00
사건_사고_증감량        0.000000e+00
정치_증감량           0.000000e+00
스포츠_증감량          0.000000e+00
지역_증감량           0.000000e+00
기타(날씨, 미분류)_증감량  0.000000e+00

In [48]:
test = pd.read_csv("test.csv")

In [53]:
test.T

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
Positive_Past,36.000000,37.000000,35.000000,36.000000,34.000000,32.000000,35.000000,37.000000,36.000000,34.000000,...,35.000000,36.000000,36.000000,38.000000,32.000000,33.000000,35.000000,33.000000,35.000000,34.000000
Negative_Past,56.000000,54.000000,57.000000,55.000000,56.000000,59.000000,58.000000,56.000000,55.000000,58.000000,...,57.000000,57.000000,56.000000,54.000000,57.000000,58.000000,55.000000,56.000000,57.000000,57.000000
Non_Past,8.000000,9.000000,8.000000,9.000000,10.000000,9.000000,7.000000,7.000000,9.000000,8.000000,...,8.000000,7.000000,8.000000,8.000000,11.000000,9.000000,10.000000,11.000000,8.000000,9.000000
Science_IT,327.000000,491.000000,426.000000,449.000000,513.000000,433.000000,524.000000,475.000000,474.000000,365.000000,...,459.000000,529.000000,472.000000,488.000000,452.000000,474.000000,418.000000,399.000000,486.000000,481.000000
Ecnomic,1567.000000,1902.000000,1811.000000,2200.000000,1635.000000,1756.000000,1870.000000,1825.000000,1695.000000,1830.000000,...,1620.000000,1695.000000,1788.000000,1590.000000,1396.000000,1591.000000,1462.000000,1244.000000,1497.000000,1602.000000
Global,966.000000,1448.000000,1301.000000,1229.000000,1638.000000,1536.000000,1240.000000,1244.000000,1519.000000,1536.000000,...,1260.000000,1479.000000,1475.000000,1398.000000,1193.000000,1052.000000,1152.000000,1248.000000,1652.000000,1556.000000
North_Korea,398.000000,322.000000,392.000000,439.000000,366.000000,301.000000,599.000000,307.000000,447.000000,629.000000,...,367.000000,340.000000,282.000000,573.000000,546.000000,465.000000,312.000000,168.000000,792.000000,341.000000
Culture,878.000000,977.000000,1004.000000,1077.000000,1034.000000,932.000000,996.000000,971.000000,968.000000,1063.000000,...,1057.000000,945.000000,993.000000,903.000000,882.000000,911.000000,905.000000,937.000000,901.000000,1031.000000
Social,1192.000000,1517.000000,1602.000000,1485.000000,1448.000000,1377.000000,1682.000000,1715.000000,1804.000000,1670.000000,...,2168.000000,2097.000000,1804.000000,2053.000000,2274.000000,2118.000000,2125.000000,1862.000000,1688.000000,1672.000000
Issue,500.000000,1102.000000,1135.000000,1110.000000,1120.000000,1259.000000,870.000000,694.000000,939.000000,903.000000,...,1028.000000,1088.000000,1143.000000,1045.000000,887.000000,1304.000000,981.000000,1455.000000,1420.000000,1321.000000
Politic,1186.000000,1473.000000,1472.000000,1546.000000,1798.000000,1468.000000,1518.000000,1582.000000,1524.000000,1335.000000,...,1288.000000,1271.000000,1323.000000,1210.000000,1235.000000,1297.000000,1183.000000,1002.000000,1220.000000,1599.000000
Sports,364.000000,530.000000,517.000000,504.000000,493.000000,477.000000,503.000000,497.000000,585.000000,591.000000,...,519.000000,473.000000,467.000000,549.000000,452.000000,582.000000,538.000000,466.000000,509.000000,475.000000
Local,1128.000000,1327.000000,1447.000000,1510.000000,1663.000000,1468.000000,1394.000000,1440.000000,1544.000000,1734.000000,...,1557.000000,1678.000000,1707.000000,1576.000000,2667.000000,1776.000000,1530.000000,1650.000000,1508.000000,1505.000000
Etc,446.000000,615.000000,700.000000,633.000000,566.000000,590.000000,598.000000,587.000000,582.000000,669.000000,...,758.000000,842.000000,842.000000,889.000000,845.000000,802.000000,903.000000,1479.000000,673.000000,674.000000
SUM,8952.000000,11704.000000,11807.000000,12182.000000,12274.000000,11597.000000,11794.000000,11337.000000,12081.000000,12325.000000,...,12081.000000,12437.000000,12296.000000,12274.000000,12829.000000,12372.000000,11509.000000,11910.000000,12346.000000,12257.000000
Science_IT_P,3.652815,4.195147,3.608029,3.685766,4.179567,3.733724,4.442937,4.189821,3.923516,2.961460,...,3.799354,4.253437,3.838647,3.975884,3.523268,3.831232,3.631940,3.350126,3.936498,3.924288
Ecnomic_P,17.504468,16.250854,15.338359,18.059432,13.320841,15.141847,15.855520,16.097733,14.030296,14.847870,...,13.409486,13.628689,14.541314,12.954212,10.881596,12.859683,12.703102,10.445004,12.125385,13.070082
Global_P,10.790885,12.371839,11.018887,10.088655,13.345283,13.244805,10.513821,10.972921,12.573462,12.462475,...,10.429600,11.891935,11.995771,11.389930,9.299244,8.503071,10.009558,10.478589,13.380852,12.694787
North_Korea_P,4.445934,2.751196,3.320064,3.603678,2.981913,2.595499,5.078854,2.707947,3.700025,5.103448,...,3.037828,2.733778,2.293429,4.668405,4.255983,3.758487,2.710922,1.410579,6.415033,2.782084
Culture_P,9.807864,8.347573,8.503430,8.840913,8.424312,8.036561,8.444972,8.564876,8.012582,8.624746,...,8.749276,7.598295,8.075797,7.357015,6.875049,7.363401,7.863411,7.867338,7.297910,8.411520
Social_P,13.315460,12.961381,13.568222,12.190117,11.797295,11.873760,14.261489,15.127459,14.932539,13.549696,...,17.945534,16.860979,14.671438,16.726414,17.725466,17.119302,18.463811,15.633921,13.672445,13.641185
Issue_P,5.585344,9.415584,9.612941,9.111804,9.124980,10.856256,7.376632,6.121549,7.772535,7.326572,...,8.509229,8.748090,9.295706,8.513932,6.914023,10.539929,8.523764,12.216625,11.501701,10.777515
Politic_P,13.248436,12.585441,12.467180,12.690855,14.648851,12.658446,12.870951,13.954309,12.614850,10.831643,...,10.661369,10.219506,10.759597,9.858237,9.626627,10.483349,10.278912,8.413098,9.881743,13.045607
Sports_P,4.066130,4.528366,4.378758,4.137252,4.016620,4.113133,4.264880,4.383876,4.842314,4.795132,...,4.296002,3.803168,3.797983,4.472869,3.523268,4.704171,4.674602,3.912678,4.122793,3.875337
Local_P,12.600536,11.338004,12.255442,12.395337,13.548965,12.658446,11.819569,12.701773,12.780399,14.068966,...,12.888006,13.492000,13.882563,12.840150,20.788838,14.354995,13.293944,13.853904,12.214482,12.278698
Etc_P,4.982127,5.254614,5.928686,5.196191,4.611374,5.087523,5.070375,5.177737,4.817482,5.427992,...,6.274315,6.770121,6.847755,7.242953,6.586640,6.482380,7.846034,12.418136,5.451158,5.498899
Science_IT_ID,-117.000000,164.000000,-65.000000,23.000000,64.000000,-80.000000,91.000000,-49.000000,-1.000000,-109.000000,...,11.000000,70.000000,-57.000000,16.000000,-36.000000,22.000000,-56.000000,-19.000000,87.000000,-5.000000
Ecnomic_ID,-218.000000,335.000000,-91.000000,389.000000,-565.000000,121.000000,114.000000,-45.000000,-130.000000,135.000000,...,-23.000000,75.000000,93.000000,-198.000000,-194.000000,195.000000,-129.000000,-218.000000,253.000000,105.000000
Global_ID,-85.000000,482.000000,-147.000000,-72.000000,409.000000,-102.000000,-296.000000,4.000000,275.000000,17.000000,...,-283.000000,219.000000,-4.000000,-77.000000,-205.000000,-141.000000,100.000000,96.000000,404.000000,-96.000000
North_Korea_ID,163.000000,-76.000000,70.000000,47.000000,-73.000000,-65.000000,298.000000,-292.000000,140.000000,182.000000,...,-16.000000,-27.000000,-58.000000,291.000000,-27.000000,-81.000000,-153.000000,-144.000000,624.000000,-451.000000
Culture_ID,-169.000000,99.000000,27.000000,73.000000,-43.000000,-102.000000,64.000000,-25.000000,-3.000000,95.000000,...,58.000000,-112.000000,48.000000,-90.000000,-21.000000,29.000000,-6.000000,32.000000,-36.000000,130.000000
Social_ID,-572.000000,325.000000,85.000000,-117.000000,-37.000000,-71.000000,305.000000,33.000000,89.000000,-134.000000,...,291.000000,-71.000000,-293.000000,249.000000,221.000000,-156.000000,7.000000,-263.000000,-174.000000,-16.000000
Issue_ID,-360.000000,602.000000,33.000000,-25.000000,10.000000,139.000000,-389.000000,-176.000000,245.000000,-36.000000,...,19.000000,60.000000,55.000000,-98.000000,-158.000000,417.000000,-323.000000,474.000000,-35.000000,-99.000000
Politic_ID,-493.000000,287.000000,-1.000000,74.000000,252.000000,-330.000000,50.000000,64.000000,-58.000000,-189.000000,...,-59.000000,-17.000000,52.000000,-113.000000,25.000000,62.000000,-114.000000,-181.000000,218.000000,379.000000
Sports_ID,-478.000000,166.000000,-13.000000,-13.000000,-11.000000,-16.000000,26.000000,-6.000000,88.000000,6.000000,...,-59.000000,-46.000000,-6.000000,82.000000,-97.000000,130.000000,-44.000000,-72.000000,43.000000,-34.000000
Local_ID,-277.000000,199.000000,120.000000,63.000000,153.000000,-195.000000,-74.000000,46.000000,104.000000,190.000000,...,1.000000,121.000000,29.000000,-131.000000,1091.000000,-891.000000,-246.000000,120.000000,-142.000000,-3.000000
Etc_ID,-263.000000,169.000000,85.000000,-67.000000,-67.000000,24.000000,8.000000,-11.000000,-5.000000,87.000000,...,139.000000,84.000000,0.000000,47.000000,-44.000000,-43.000000,101.000000,576.000000,-806.000000,1.000000

In [47]:
model_lr.predict

True

In [51]:
model_lr.predict(test)

array([[38.11879349],
       [34.47801709],
       [33.88941693],
       [34.8952868 ],
       [33.91286635],
       [31.22984338],
       [35.75162792],
       [36.99392104],
       [35.93027997],
       [35.17151666],
       [33.92012286],
       [33.54417086],
       [29.26639414],
       [30.70504546],
       [27.91579962],
       [32.69523859],
       [29.93948078],
       [34.0671823 ],
       [34.2909472 ],
       [38.29538202],
       [37.24826622],
       [34.82781601],
       [34.35285807],
       [35.88370967],
       [35.45987082],
       [38.06857419],
       [33.11824608],
       [32.01276636],
       [35.04185271],
       [30.69299626],
       [36.33039832],
       [33.72088099]])

예측기,,,

경제랑 북한 이슈를 높이면 지지율이 오른다면?

다음주 예측이 정확하게,,,,



1. 퍼센트가 들어갔으면 좋겠다.

2. Linear  

3. +- 2,,, 

4. 정확도 순위,,,

오차 정도도 보여주면 좋을 듯하다.

In [ ]:
            write_df_new.loc[0,'과학_IT%'] = write_science
            write_df_new.loc[0,'경제%'] = write_economic
            write_df_new.loc[0,'국제%'] = write_global
            write_df_new.loc[0,'북한_외교%'] = write_north_korea
            write_df_new.loc[0,'문화%'] = write_culture
            write_df_new.loc[0,'사회%'] = write_social
            write_df_new.loc[0,'사건_사고%'] = write_issue
            write_df_new.loc[0,'정치%'] = write_politic
            write_df_new.loc[0,'스포츠%'] = write_sports
            write_df_new.loc[0,'지역%'] = write_local
            write_df_new.loc[0,'기타(날씨, 미분류)%'] = write_etc

In [ ]:
mkdir -p ~/.streamlit/

echo "\
[general]\n\
email = \"s961215@google.com\"\n\
" > ~/.streamlit/credentials.toml

echo "\
[server]\n\
headless = true\n\
enableCORS=false\n\
port = $PORT\n\
" > ~/.streamlit/config.toml